@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Playfair+Display+SC&family=Tektur&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* || VARIABLES || */
:root {
    /* FONTS */
    --BODY-FONT-FAMILY: 'Mukta', sans-serif;
    --BODY-FONT: 20px var(--BODY-FONT-FAMILY);
    --BUTTON-FONT-FAMILY: 'Tektur', sans-serif;
    --FONT-SIZE: 2.8vw;
    --HEADER-FONT-FAMILY: 'Playfair Display SC', serif;
    --INPUT-FONT-SIZE: 16px;


    /* COLORS */
    --BODY-COLOR: #407899;
    --CHART-BG-COLOR: white;
    --FORM-BG-COLOR: gray;
    --HEADER-COLOR: #2CC437;
    --HEADER-FONT-COLOR: black;
    --HOVER-COLOR: #3c3939;

    /* BORDERS */
    --BORDER-COLOR: black;
    --BORDER-SIZE: 3px;
    --BORDER-STYLE: solid;
    --BUTTON-BORDER: 2.5px var(--BORDER-STYLE) var(--BORDER-COLOR);
    --BUTTON-BORDER-RADIUS: 15px;
    --BUTTON-COLOR: #841C26;
    --BUTTON-TEXT-COLOR: #E7E7E7;
    --FORM-BORDER-RADIUS: 15px;
    --FORM-BORDER: 5px var(--BORDER-STYLE) var(--BORDER-COLOR);
    --HR-BORDER: 3px var(--BORDER-STYLE) var(--BORDER-COLOR);
    --INPUT-BORDER: 1px var(--BORDER-STYLE) var(--BORDER-COLOR);

    /* SIZE */
    --BUTTON-MARGIN: 1.2em;
    --BUTTON-MARGIN-TOP: 0.6em;
    --BUTTON-MARGIN-BOTTOM: 0.5em;
    --BUTTON-MARGIN-TOP-AND-BOTTOM: var(--BUTTON-MARGIN-TOP) 0.0em var(--BUTTON-MARGIN-BOTTOM) 0.0em;
    --BUTTON-PADDING-LEFT-AND-RIGHT: 1.0em;
    --BUTTON-PADDING-TOP-AND-BOTTOM: 0.3em;
    --BUTTON-PADDING: var(--BUTTON-PADDING-TOP-AND-BOTTOM) var(--BUTTON-PADDING-LEFT-AND-RIGHT) 
                      var(--BUTTON-PADDING-TOP-AND-BOTTOM) var(--BUTTON-PADDING-LEFT-AND-RIGHT);
    --CANVAS-CENTER-SIZE: 85%;
    --FORM-MAX-SIZE: 85%;
    --FORM-WIDTH-SMALL-SIZE: 20%;
    --FORM-WIDTH-SIZE: 50%;
    --HEADER-ICON-GAP: 1.7em;
    --HEADER-ICON-MARGIN: -0.7em;
    --HEADER-LETTER-SPACING: 0.03em;
    --HEADER-LINE-HEIGHT: 100%;
    --HEADER-LINK-GAP: 1.2rem;
    --HEADER-PADDING: 0.7em;
    --HEADER-GAP: 0.7em;
    --HEADER-SIDE-PADDING: 7px;
    --HEADER-TEXT-FONT-SIZE-CAP: 15px;
    --HEADER-WIDTH: 100%;
    --HEIGHT-SPACING: 0.4em;
    --LARGE-HEIGHT-SPACING: 0.8em;
    --MARGIN-AUTO-LEFT-AND-RIGHT: 0 auto 0 auto;
    --MARGIN-AUTO-TOP-AND-BOTTOM: auto 0 auto 0;
    --OFFSCREEN-MOVE: -10000px;
    --PLACEHOLDER-TEXT-MOVE: 4px;
}

/* Block */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--BODY-COLOR);
}

/* || HEADER */
.header {
    background-color: var(--HEADER-COLOR);
    border: var(--BORDER-SIZE) var(--BORDER-STYLE) var(--BORDER-COLOR);
    font-family: var(--HEADER-FONT-FAMILY);
    font-size: max(var(--HEADER-TEXT-FONT-SIZE-CAP), var(--FONT-SIZE));
    font-weight: bolder;
    letter-spacing: var(--HEADER-LETTER-SPACING);
    padding: var(--HEADER-PADDING);
    position: sticky;
    width: var(--HEADER-WIDTH);
}

/* New Nav */
.header__icon {
    display: none;
    gap: var(--HEADER-ICON-GAP);
    margin: var(--HEADER-ICON-MARGIN);
    object-fit: contain;
}

.header__link {
    gap: var(--HEADER-LINK-GAP);
    color: var(--HEADER-FONT-COLOR);
}

.header__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--HEADER-GAP);
}

.header__ul li:first-child {
    margin-right: auto;
}

/* LINKS */
.header__link:any-link,
.header__link:visited {
    text-decoration: none;
    display: inline;
}

.header__link:hover {
    color: var(--HOVER-COLOR);
}

/* BODY */
main {
    font: var(--BODY-FONT);
}

/* FORM */
.calculateForm {
    border-radius: var(--FORM-BORDER-RADIUS);
    border: var(--FORM-BORDER);
    display: flex;
    flex-direction: column;
    margin: var(--MARGIN-AUTO-LEFT-AND-RIGHT);
    width: var(--FORM-MAX-SIZE);
    word-wrap: nowrap;
}

.calculateForm__button {
    background-color: var(--BUTTON-COLOR);
    border: var(--BUTTON-BORDER);
    margin: var(--BUTTON-MARGIN-TOP-AND-BOTTOM);
    padding: var(--BUTTON-PADDING);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-TEXT-COLOR);
    border-radius: var(--BUTTON-BORDER-RADIUS);
}

.canvas__donutChart {
    background-color: var(--CHART-BG-COLOR);
    border: var(--INPUT-BORDER);
    width: var(--CANVAS-MAX-WIDTH);
}

.form__bg {
    background-color: var(--FORM-BG-COLOR);
}

.form__input {
    border: var(--INPUT-BORDER);
    padding-left: 2.25px;
}

.form__input::placeholder {
    font: var(--INPUT-FONT-SIZE) var(--BODY-FONT-FAMILY);
/*     padding-bottom: var(--PLACEHOLDER-TEXT-MOVE); */
}

.selectDropDown {
    border: var(--INPUT-BORDER);
}
/* || UTILITY */
.offscreen {
    position: absolute;
    left: var(--OFFSCREEN-MOVE);
}

.textCenter {
    text-align: center;
}

.center {
    margin: auto;
    width: var(--FORM-WIDTH-SIZE);
}

.center__small {
    margin: auto;
    width: var(--FORM-WIDTH-SMALL-SIZE);
}
.canvas__center {
    margin: auto;
    width: var(--CANVAS-CENTER-SIZE);
}

.center__photo {
    margin: var(--MARGIN-AUTO-LEFT-AND-RIGHT);
    display: block;
}

.spacing {
    margin-bottom: var(--HEIGHT-SPACING);
    margin-top: var(--HEIGHT-SPACING);
}

.spacing__large {
    margin-bottom: var(--LARGE-HEIGHT-SPACING);
    margin-top: var(--LARGE-HEIGHT-SPACING);
}

.removeHover:focus {
    outline: none;
}

.hide {
    display: none;
}

.border {
    border: var(--HR-BORDER);
}

.removeBulletPointIcons {
    list-style-position: inside;
}
.removeBulletPointIcons li::marker {
    content: "❌";
}
/* Media Query for small phone */
/* Outside of min width */
@media screen and (min-width: 670px) {
    .calculateForm {
        --FORM-MAX-SIZE: 50%;
    }

    .header__icon {
        display: block;
        gap: var(--HEADER-ICON-GAP);
        margin: var(--HEADER-ICON-MARGIN);
        object-fit: contain;
    }

    :root {
        --CANVAS-CENTER-SIZE: 45%;
    }
}